html {
    height: 100%;
    width: 100%
    text-algin left;
}

body {
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
}

.map-container {
    padding-top: 50px;
    height: 100%;
    margin-right: 200px;
}

.map-container div {
    float: left;
}

#map_canvas {
    height: 100%;
    width: 60%;
}

#graphs {
    float: right;
    width: 38%;
    height: 100%;
}

#graphs div {
    width : 100%;
    height: 300px;
    padding-bottom: 20px;
}

.labels {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    text-align: center;
    min-width: 50px;
    color: red;
    text-shadow: 0px 0px 15px white;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 2px;
}

.nav-inputs li {
    margin: 10px;
}

.container {
    width: 100%;
}

#date {
    cursor : pointer;
}

#monthChart {
    border-top : 1px solid black;
}